/* @media only screen and (min-width:1200px) and (max-height:400px)and (orientation: landscape){
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}


@media only screen and (max-width:767px){
	.for-leter-space{
     margin-left:38px;
}
} */